<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

    <div class="dee">    
        
        <marquee behavior="scroll" direction="right"><h1>HURRAY!!!!!!!!!!!</h1></marquee>
        <h1>You have successfully signed up</h1><br><br>
        <h1><%= name %></h1>
        <h2>You are now a member of the prestigious Lion Club </h2>

    </div>

</body>
</html>